* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #507CF4;
    background: linear-gradient(90deg, rgba(80, 124, 244, 1) 0%, rgba(87, 171, 199, 1) 50%, rgba(80, 124, 244, 1) 100%);
    padding: 1.5rem;
    gap: 2rem;
}

body,
form,
footer,
.country-div,
#phone-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    justify-content: center;
    gap: 0.4rem;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px #000000;
    background-color: #f7f7f7;
}

.input-div,
.country-div {
    width: 70%;
}

.input-div label {
    color: #717171;
    text-align: start;
}

.input-div .information {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
}

.country-div {
    align-items: start;
    margin-bottom: 0.9rem;
}

#form-title {
    color: #000;
}

select,
input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.6rem;
    border: 2px solid #262C36;
    text-align: start;
}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

#phone-section {
    flex-direction: row;
    gap: 0.8rem;
}

#form-btn {
    padding: 1rem;
    border-radius: 4px;
    width: 70%;
    color: #fff;
    background: rgba(122, 122, 122, 0.5);
}

footer {
    gap: 0.5rem;
}

a,
h2 {
    text-decoration: none;
    color: #000;
}

.input-valid {
    outline: 2px solid rgba(25, 167, 25);
}

.input-unvalid {
    outline: 2px double rgb(238, 2, 2);
}

.enable-submit-btn {
    background: #507cf4 !important;
}

.hide-information {
    visibility: hidden !important;
}