* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #507CF4;
    background: linear-gradient(90deg, rgba(80, 124, 244, 1) 0%, rgba(87, 171, 199, 1) 50%, rgba(80, 124, 244, 1) 100%);
    padding: 1.5rem;
    gap: 1.6rem;
    overflow: hidden;
}

body,
form,
footer,
.input-div,
.information,
.country-div,
.password-wrapper,
#phone-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
}

form,
input,
select,
.input-row,
.input-div,
.input-div .information,
.password-wrapper,
#phone-section,
#form-btn {
    width: 100%;
}


form {
    justify-content: center;
    gap: 0.4rem;
    padding: 1rem;
    max-width: 700px;
    box-shadow: 0 0 10px #000000;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
}

.input-div {
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.input-div label {
    color: #444;
    font-weight: 500;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}

.input-div .information {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    min-height: 1.8rem;
}

.input-row {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.country-div {
    align-items: flex-start;
}

#form-title {
    color: #000;
}

select,
input {
    padding: 1rem;
    border-radius:1.5rem;
    border: 2px solid #262C36;
    text-align: start;
}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

#phone-section {
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

#form-btn {
    padding: 1rem;
    border-radius: 1.5rem;
    color: #fff;
    background: rgba(122, 122, 122, 0.5);
    letter-spacing: 1px;
    font-weight: bold
}

footer {
    gap: 0.5rem;
}

a,
h2 {
    text-decoration: none;
    color: #000;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 1.4rem;
    top: 40%;
    cursor: pointer;
    user-select: none;
    color: #717171;
    transition: color 0.2s ease;
    font-weight: 600;
}

.toggle-password:hover {
    color: #000;
}

.eye-closed-icon {
    display: none;
}
.eye-opened-icon {
    display: block;
}

.password-wrapper.is-visible .eye-closed-icon {
    display: block;
}

.password-wrapper.is-visible .eye-opened-icon {
    display: none;
}

.input-valid {
    outline: 2px solid rgba(25, 167, 25);
}

.input-unvalid {
    outline: 2px double rgb(238, 2, 2);
}

.enable-submit-btn {
    background: #507cf4 !important;
}

.hide-information {
    visibility: hidden !important;
}

@media (max-width: 600px) {
    body {
        overflow: scroll;
    }
    
    .input-row {
        flex-direction: column;
        gap: 0.5rem;
    }

    .input-row.phone-row {
        gap: 2.75rem;
    }
}